/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
}

/* Contenedor principal */
#container {
    display: flex;
    flex-direction: column; /* Input arriba, contenido abajo */
    align-items: flex-start;
    width: 100%;
    
}

/* Contenedor de entrada de datos */
#inputContainer {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px; /* Bordes redondeados */
    background-color: #f9f9f9; /* Color de fondo sutil */
    width: 1295px;
    
}

#preciosContainer {
    background-color: #f9f9f9;
    border-radius: 10px;
    width: 1310px;
    position: absolute;
    margin-bottom: 10px;
    border: 1px solid black;
    bottom: 0;
    padding: 2px;
    align-items: center;

}

/* Contenedor del diseño (dibujo + datos) */
#layoutContainer {
    display: flex;
    flex-direction: row; /* Dibujo a la izquierda, datos a la derecha */
    align-items: flex-start;
    width: 100%;
    max-height: 300px; /* Reducido para evitar scroll */
    gap: 20px; /* 🔹 Espacio entre el dibujo y los datos */
    
}

/* Contenedor del dibujo (SVG) */
#svgContainer {
    width: 60%;
    height: 600px;
    position: relative;
    border: 1px solid black;
    border-radius: 10px; /* Bordes redondeados */
    overflow: hidden;
}

/* Contenedor de los datos */
#productosContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    top: 0; /* Asegura que esté alineado arriba */
    width: 30%;
    font-size: 13px;
    line-height: 1.1;
    height: 600px;
    overflow-y: auto;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #f9f9f9;
    margin-top: 0; /* Evita márgenes innecesarios */
    padding-top: 0; /* Evita espacio adicional */
    
}

#afiladoraDoble{
    width: 25px;
}
h2{
    background-color: blue;
    border-radius: 10px;
    color: #f9f9f9;
    width: 93%;
}
#boton {
    background-color: blue;
    color: #f9f9f9;
    font-size: large;
}

#resetPanel {
    background-color: rgb(21, 177, 42);
    color: #f9f9f9;
}

#cabeceramateriales{
    background-color: blue;
    border-radius: 10px;
    color: #f9f9f9;
    font-size: 24px;
    margin: 5px;
    padding: 5px;
    
}
/* Ajuste del margen entre elementos dentro del contenedor de datos */
#productosContainer p,
#productosContainer h2 {
    margin: 2px 0;
    padding: 2px;
}
#productosContainer p:first-child {
    margin-top: 0;
}